<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>0</td> <td title="&gt;&gt;TestNgMethods.beforeSuite()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>23</td> <td>&nbsp;</td><td title="&gt;&gt;TestNgMethods.beforeTest()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgMethods.beforeClass()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgMethods.beforeMethod()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgMethods.f()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">f</td> 
  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgMethods.afterMethod()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNgMethods.beforeMethod()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNgMethods.f1()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">f1</td> 
  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgMethods.afterMethod()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>95</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNgMethods.afterClass()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>97</td> <td>&nbsp;</td><td title="&lt;&lt;TestNgMethods.afterTest()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
<tr bgcolor="77ab81">  <td>18/05/15 19:22:14</td>   <td>178</td> <td title="&lt;&lt;TestNgMethods.afterSuite()[pri:0, instance:TestNg.TestNgMethods@11758f2a]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1075738627</td>   <td></td> </tr>
</table>
